<%-include('partials/header') %>
<%-include('partials/navbar') %>



<div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center">Lista de Publicaciones</h1>
            </div>
        </div>
        <div class="row col">
            <main class="d-flex flex-column gap-2" id="lista-publicaciones">



            </main>


        </div>
    </div>




        <script src="/js/home.js"></script>
<%-include('partials/footer') %>